<h3>JavaScript XMPP Chat</h3>
<p>
   <b>Version: </b> {{version}} <br />
   <b>Build date: </b> {{date}} <br />
   <a href="http://jsxc.org/" target="_blank">www.jsxc.org</a>
</p>
<p>
   <i>Released under the MIT license</i>
</p>
<p>
   Real-time chat app for {{appName}} and more.
</p>
<p class="jsxc-credits">
   <b>{{t "Credits"}}: </b> <a href="https://freesound.org/people/pogmothoin/sounds/351284/" target="_blank">ringtone by pogmothoin (CC BY 3.0)</a>,
   <a href="https://freesound.org/people/kila_vat/sounds/434379/" target="_blank">notification sound by kila_vat (CC BY 3.0)</a>,
   <a href="https://soundcloud.com/freefilmandgamemusic/ping-1?in=freefilmandgamemusic/sets/free-notification-sounds-and" target="_blank">ping sound by CameronMusic (CC BY 3.0)</a>,
   <a href="http://www.picol.org/">Picol (Fullscreen icon)</a>, <a href="http://www.jabber.org/">Jabber Software Foundation (Jabber lightbulb logo)</a>
</p>
<p class="jsxc-libraries">
   <b>{{t "Libraries"}}: </b>
   {{dependencies}}
</p>

<button class="jsxc-button jsxc-button--default pull-right jsxc-debug-log">{{t "Show_debug_log"}}</button>
