<h3>{{t "Add_Avatar"}}</h3>
<div class="jsxc-account-choice">
    <label class="col-sm-4 control-label" for="jsxc-account">{{t "Account"}}</label>
    <div class="col-sm-8">
     <select class="form-control" name="account" id="jsxc-account"></select>
    </div>
</div>

<div class="jsxc-avatarimage">
   <img src="" class="form-control" alt="{{t "no_avatar"}}"/>
   <canvas class="jsxc-canvas"></canvas>
</div>
<form class="form-horizontal jsxc-avatarupload">
   <div class="form-group">
      <div >
         <button class="jsxc-button jsxc-button--default jsxc-js-close" type="button">{{t "Cancel"}}</button>
         <button class="jsxc-button jsxc-avataruploadbutton" type="button" value="load" required="required" >{{t "select_avatar_file"}}</button>
         <button class="jsxc-button jsxc-button--primary jsxc-js-submit" type="submit" value="add">{{t "Save"}}</button>
         <button class="jsxc-button jsxc-button--primary jsxc-js-clear" type="button" value="remove">{{t "Remove"}}</button>
      </div>
   </div>
</form>