<li class="jsxc-window-item" data-contact-id="{{contactId}}" data-account-id="{{accountId}}">
   <div class="jsxc-window">
      <div class="jsxc-window-bar jsxc-bar">
         <div class="jsxc-avatar"></div>
         <div class="jsxc-caption">
            <div class="jsxc-name">{{name}}</div>
            <div class="jsxc-subcaption"></div>
         </div>
         {{! transfer this to jsxc-menu }}
         <div class="jsxc-action-entry jsxc-menu jsxc-menu-dropdown jsxc-menu-settings">
            <span class="jsxc-more"></span>
            <div class="jsxc-inner">
               <ul>
                  <li>
                     <a class="jsxc-clear" href="#">
                        <span>{{t "clear_history"}}</span>
                     </a>
                  </li>
                  <li>
                     <a class="jsxc-sendFile" href="#">
                        <span>{{t "Send_file"}}</span>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="jsxc-action-entry jsxc-audio jsxc-disabled"></div>
         <div class="jsxc-action-entry jsxc-video jsxc-disabled"></div>
         <div class="jsxc-action-entry jsxc-close">×</div>
      </div>
      <div class="jsxc-window-fade">
         <div class="jsxc-overlay">
            <div>
               <div class="jsxc-body" />
               <div class="jsxc-close" />
            </div>
         </div>
         <div class="jsxc-message-area" />
         <div class="jsxc-preview"></div>
         <div class="jsxc-send-area">
            <div class="jsxc-menu jsxc-menu-emoticons">
               <div class="jsxc-inner">
                  <ul>
                     <li class="jsxc-clear"></li>
                  </ul>
               </div>
            </div>
            <textarea class="jsxc-message-input" placeholder="{{t "Message"}}"></textarea>
            <div class="jsxc-file-transfer">
               <label><input type="file" name="files" /><label>
            </div>
            <div class="jsxc-transfer jsxc-otr jsxc-disabled" />
         </div>
      </div>
   </div>
</li>
