<li class="jsxc-window-item" data-contact-id="{{contactId}}" data-account-id="{{accountId}}">
   <div class="jsxc-window">
      <div class="jsxc-bar--window jsxc-bar">
         <div class="jsxc-avatar jsxc-shrink--no"></div>

         <div class="jsxc-bar__caption jsxc-grow">
            <div class="jsxc-bar__caption__primary">{{name}}</div>
            <div class="jsxc-bar__caption__secondary"></div>
         </div>

         {{#> menu
            classes="jsxc-bar__action-entry jsxc-menu--drop-top-right jsxc-menu--light jsxc-menu-settings"
            button-classes="jsxc-menu__more--light jsxc-icon jsxc-icon--more-light jsxc-icon--clickable"}}
            <li class="jsxc-clear">{{t "clear_history"}}</li>
            <li class="jsxc-share-screen">{{t "Share_screen"}}</li>
            <li class="jsxc-send-location">{{t "Send_location"}}</li>
         {{/menu}}

         <div class="jsxc-bar__action-entry jsxc-disabled jsxc-audio"></div>
         <div class="jsxc-bar__action-entry jsxc-disabled jsxc-video"></div>
         <div class="jsxc-bar__action-entry jsxc-icon jsxc-icon--close-light jsxc-icon--clickable jsxc-js-close"></div>
      </div>
      <div class="jsxc-window-fade">
         <div class="jsxc-message-area"></div>
         <div class="jsxc-preview"></div>
         <div class="jsxc-send-area">
             {{> menu
                    classes="jsxc-menu--emoticons jsxc-shrink--no jsxc-menu--dark jsxc-menu--drop-bottom-left"
                    button-classes="jsxc-icon jsxc-icon--emoticon jsxc-icon--clickable"}}
            <textarea class="jsxc-message-input" placeholder="{{t "Message"}}" dir="auto"></textarea>
            <div class="jsxc-file-transfer" title="{{t "Send_file"}}">
               <label><input type="file" name="files" /><label>
            </div>
            {{> menu
                    classes="jsxc-transfer jsxc-menu--dark jsxc-menu--drop-bottom-right"
                    button-classes="jsxc-transfer-state jsxc-transfer-icon jsxc-icon--clickable"}}
         </div>
      </div>
      <div class="jsxc-window__overlay">
         <div class="jsxc-window__overlay__inner">
            <div class="jsxc-window__overlay__content"></div>
            <div class="jsxc-window__overlay__close"></div>
         </div>
      </div>
   </div>
</li>
