<li class="jsxc-window-item" data-contact-id="{{contactId}}" data-account-uid="{{accountUid}}" data-jid="{{contactJid}}">
   <div class="jsxc-window">
      <div class="jsxc-bar--window jsxc-bar">
         <div class="jsxc-avatar jsxc-shrink--no"></div>

         <div class="jsxc-bar__caption jsxc-grow">
            <div class="jsxc-bar__caption__primary">{{name}}</div>
            <div class="jsxc-bar__caption__secondary"></div>
         </div>

         <div class="jsxc-menu jsxc-bar__action-entry jsxc-menu--drop-top-right jsxc-menu--light jsxc-menu-settings">
            <div class="jsxc-menu__button jsxc-menu__more--light jsxc-icon--clickable">
               <i class="jsxc-icon-more jsxc-icon--center"></i>
            </div>
            <div class="jsxc-menu__content">
               <ul>
                  <li class="jsxc-clear">{{t "clear_history"}}</li>
                  <li class="jsxc-share-screen">{{t "Share_screen"}}</li>
                  <li class="jsxc-send-location">{{t "Send_location"}}</li>
               </ul>
            </div>
         </div>

         <div class="jsxc-bar__action-entry jsxc-disabled jsxc-audio"></div>
         <div class="jsxc-bar__action-entry jsxc-video"></div>
         <div class="jsxc-bar__action-entry jsxc-icon--clickable jsxc-js-close">
            <i class="jsxc-icon-close jsxc-icon--center"></i>
         </div>
      </div>
      <div class="jsxc-window-fade">
         <div class="jsxc-message-area"></div>
         <div class="jsxc-preview"></div>
         <div class="jsxc-send-area">
            <div class="jsxc-menu jsxc-menu--emoticons jsxc-shrink--no jsxc-menu--dark jsxc-menu--drop-bottom-left">
               <div class="jsxc-menu__button jsxc-icon--clickable">
                  <i class="jsxc-icon-smiley jsxc-icon--center"></i>
               </div>
               <div class="jsxc-menu__content">
                  <input type="text" class="jsxc-emoticon-search jsxc-input-search" placeholder="{{t "Search"}}">
                  <ul class="jsxc-menu-emoticon-list"></ul>
               </div>
            </div>
            <textarea class="jsxc-message-input" placeholder="{{t "Message"}}" dir="auto"></textarea>
            <div class="jsxc-file-transfer" title="{{t "Send_file"}}">
               <i class="jsxc-icon-attachment jsxc-icon--center"></i>
               <label><input type="file" name="files" /></label>
            </div>
            <div class="jsxc-menu jsxc-transfer jsxc-menu--dark jsxc-menu--drop-bottom-right">
               <div class="jsxc-menu__button jsxc-transfer-state jsxc-icon--clickable">
                  <i class="jsxc-icon--center"></i>
               </div>
               <div class="jsxc-menu__content">
                  <ul></ul>
               </div>
            </div>
         </div>
      </div>
      <div class="jsxc-window__overlay">
         <div class="jsxc-window__overlay__inner">
            <div class="jsxc-window__overlay__content"></div>
            <div class="jsxc-window__overlay__close"></div>
         </div>
      </div>
      <ul class='jsxc-custom-menu'>
         <div class='jsxc-context-menu-nickname'></div>
      </ul>
   </div>
</li>
