<h3>{{t "User_information"}}</h3>
<div class="jsxc-user-information">
<dl>
   {{#each userInfo}}
      <dt>{{key}}</dt>
      <dd>{{value}}</dd>
   {{/each}}
</dl>
</div>

<h3>{{t "Webcam"}}</h3>
<div class="jsxc-webcam">
   <button type="button" class="jsxc-button jsxc-button--default">{{t "Test"}}</button>
</div>

<h3>{{t "Log"}}</h3>
<div class="jsxc-log"></div>
