<div class="jsxc-omemo-device">
    <div class="jsxc-omemo-device-id">{{id}}{{#if isCurrentDevice}} (this device){{/if}}</div>
    <div class="jsxc-omemo-device-fingerprint jsxc-fingerprint">{{fingerprint}}</div>
    <div class="jsxc-omemo-device-trust" data-trust="{{trust}}">{{trust}}</div>
    <div class="jsxc-omemo-device-action">
        {{#if trustIsUnknown}}
            <a href="#" data-action="recognize">{{t "Recognized"}}</a>&nbsp;
        {{/if}}
        {{#if trustIsUnknownOrRecognized}}
            <a href="#" data-action="verify">{{t "Verify"}}</a>
        {{/if}}
    </div>
</div>
