<div>
   <h3 class="jsxc-max-width">{{t "OMEMO_devices"}}</h3>
   <p class="jsxc-max-width">{{t "omemo-device-list-explanation"}}</p>

   <p><strong>{{t "OMEMO_peer_devices"}}</strong></p>
   <div class="jsxc-omemo-peerdevices">{{t "Please_wait"}}</div>

   <p><strong>{{t "OMEMO_own_devices"}}</strong></p>
   <div class="jsxc-omemo-owndevices">{{t "Please_wait"}}</div>
</div>
