<div class="jsxc-omemo-device" data-device-id="{{id}}" data-trust="{{trust}}">
    {{#unless isCurrentDevice}}
    <div class="jsxc-omemo-device-last-used"></div>
    {{/unless}}
    <div class="jsxc-omemo-device-id">{{id}}{{#if isCurrentDevice}} ({{t "this_device"}}){{/if}}</div>
    <div class="jsxc-omemo-device-fingerprint jsxc-fingerprint">{{fingerprint}}</div>
    <div class="jsxc-omemo-device-trust" data-trust="{{trust}}">{{trust}}</div>
    <div class="jsxc-omemo-device-action">
        {{#if showControls}}
            <a href="#" data-action="ignore">{{t "Ignore"}}</a>&nbsp;
            <a href="#" data-action="recognize">{{t "Recognize"}}</a>&nbsp;
            <a href="#" data-action="verify">{{t "Verify"}}</a>
        {{/if}}
    </div>
</div>
