<h3> {{t "muchelp"}} </h3>
<i>Syntax: /command [arg1 [arg2]]</i>
<p>
   <h4>{{t "muchelp_users"}}</h4>
   <b>/clear</b> {{t "muchelp_clear"}} <br />
   <b>/help</b> {{t "muchelp_help"}} <br />
   <b>/invite</b> {{t "muchelp_invite"}} <br />
   <b>/me</b> {{t "muchelp_me"}} <br />
   <b>/nick</b> {{t "muchelp_nick"}} <br />
   <b>/subject or /topic</b> {{t "muchelp_subject"}} <br />
</p>
<p>
   <h4>{{t "muchelp_admins"}}</h4>
   <b>/ban</b> {{t "muchelp_ban"}} <br />
   <b>/kick</b> {{t "muchelp_kick"}} <br />
   <b>/deop</b> {{t "muchelp_deop"}} <br />
   <b>/member</b> {{t "muchelp_member"}} <br />
   <b>/op</b> {{t "muchelp_op"}} <br />
   <b>/revoke</b> {{t "muchelp_revoke"}} <br />
</p>
<p>
   <h4>{{t "muchelp_owners"}}</h4>
   <b>/admin</b> {{t "muchelp_admin"}} <br />
   <b>/destroy</b> {{t "muchelp_destroy"}} <br />
   <b>/owner</b> {{t "muchelp_owner"}} <br />
</p>
<button id="button-close" class="jsxc-button jsxc-button--default pull-right">{{t "Close"}}</button>
