<h3>{{t "Memberlist"}}</h3>
<!--p class="jsxc-explanation">{{t "muc_invite_explanation"}}</p-->
<form class="form-horizontal" data-type="form">
   <input type="hidden" name="oldMemberList" />
   <div class="form-group" data-type="jid-multi" data-name="memberlist" style="padding-right: 30px;">
      <label for="jsxc-memberlist-textarea" class="col-sm-8">{{t "muc_one_jid_per_line"}}</label>
      <textarea name="jsxc-memberlist-textarea" id="jsxc-memberlist-textarea" class="jsxc-memberlist-textarea col-sm-8"></textarea>
   </div>
   <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
         <button class="jsxc-button jsxc-button--default jsxc-js-close" type="button">{{t "Close"}}</button>
         <button class="jsxc-button jsxc-button--primary" type="submit">{{t "Save"}}</button>
      </div>
   </div>
</form>
