<h3>{{t "muc_invitation"}}</h3>
<p class="jsxc-explanation">{{t "muc_invitation_explanation"}}</p>
<form class="form-horizontal">
   <div class="form-group">
      <label class="col-sm-4 control-label" for="jsxc-jid">{{t "From"}}</label>
      <div class="col-sm-8">
         <p>{{from}}</p>
      </div>
   </div>
   <div class="form-group">
      <label class="col-sm-4 control-label" for="jsxc-jid">{{t "Room"}}</label>
      <div class="col-sm-8">
         <p>{{room}}</p>
      </div>
   </div>
   <div class="form-group">
      <label class="col-sm-4 control-label" for="jsxc-reason">{{t "Reason"}}</label>
      <div class="col-sm-8">
         <p>{{reason}}</p>
      </div>
   </div>
   <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
         <button class="jsxc-button jsxc-button--default jsxc-js-close" type="button">{{t "Close"}}</button>
         <button class="jsxc-button jsxc-button--primary" type="submit">{{t "Join"}}</button>
      </div>
   </div>
</form>
