<form>
   <input type="text" placeholder="{{t "Username"}}" name="username" id="jsxc-username" required="required" value="{{username}}" />

   <input type="password" placeholder="{{t "Password"}}" name="password" required="required" id="jsxc-password" />

   <div class="jsxc-alert jsxc-alert--warning jsxc-hidden">{{t "Sorry_we_cant_authentikate_"}}</div>

   <button type="submit" class="jsxc-button jsxc-button--primary" name="commit" data-jsxc-loading-text="{{t "Connecting"}}...">{{t "Connect"}}</button>
</form>
