<li class="jsxc-roster-item jsxc-bar" draggable="true">
   <div class="jsxc-avatar jsxc-shrink--no"></div>

   <div class="jsxc-bar__caption jsxc-grow">
      <div title="{{jid}}" class="jsxc-bar__caption__primary">{{name}}</div>
      <div title="{{lastMessage}}" class="jsxc-bar__caption__secondary">{{lastMessage}}</div>
   </div>

   {{#> menu classes="jsxc-bar__action-entry jsxc-menu--vertical-left jsxc-menu--light" button-classes="jsxc-icon jsxc-icon--more-dark jsxc-icon--clickable"}}
        <li class="jsxc-rename" title="{{t "rename_buddy"}}"><span class="jsxc-icon jsxc-icon--edit"></span></li>
        <li class="jsxc-vcard" title="{{t "get_info"}}"><span class="jsxc-icon jsxc-icon--info"></span></li>
        <li class="jsxc-delete" title="{{t "delete_buddy"}}"><span class="jsxc-icon jsxc-icon--delete"></span></li>
   {{/menu}}
</li>
