<li class="jsxc-roster-item jsxc-bar" draggable="true">
   <div class="jsxc-avatar"></div>

   <div class="jsxc-caption">
      <div class="jsxc-name">{{name}}</div>
      <div class="jsxc-subcaption">{{lastMessage}}</div>
   </div>

   <div class="jsxc-action-entry jsxc-menu jsxc-menu-dropdown">
      <span></span>
      <div class="jsxc-inner">
         <ul>
            <li><a href="#" class="jsxc-rename" title="{{t "rename_buddy"}}"><span class="jsxc-icon jsxc-icon-edit"></span></a></li>
            <li><a href="#" class="jsxc-vcard" title="{{t "get_info"}}"><span class="jsxc-icon jsxc-icon-info"></span></a></li>
            <li><a href="#" class="jsxc-delete" title="{{t "delete_buddy"}}"><span class="jsxc-icon jsxc-icon-delete"></span></a></li>
         </ul>
      </div>
   </div>
</li>
