{{#if header}}
<h3>{{header}}</h3>
{{/if}}

{{#if message}}
<p>{{{breaklines message}}}</p>
{{/if}}

{{#if hasPrimary}}
<button class="jsxc-button jsxc-button--primary jsxc-pull-right">
   {{#if primary.label}}
      {{primary.label}}
   {{else}}
      {{t "Confirm"}}
   {{/if}}
</button>
{{/if}}

{{#if hasOption}}
<button class="jsxc-button jsxc-button--default jsxc-pull-right">
   {{#if option.label}}
      {{option.label}}
   {{else}}
      {{t "Dismiss"}}
   {{/if}}
</button>
{{/if}}
