{{#if xmppSettingsAlterable}}
<form class="form-horizontal col-sm-12">
   <fieldset class="jsxc-fieldsetXmpp jsxc-fieldset">
      <h3 >{{t "Login_options"}}</h3>
      <p >{{t "setting-explanation-xmpp"}}</p>
      <div class="form-group">
         <label class="col-sm-6 control-label" for="xmpp-url" >{{t "BOSH_url"}}</label>
         <div class="col-sm-6">
            <input type="text" id="xmpp-url" class="form-control" readonly="readonly" />
         </div>
      </div>
      <div class="form-group">
         <label class="col-sm-6 control-label" for="xmpp-username" >{{t "Username"}}</label>
         <div class="col-sm-6">
            <input type="text" id="xmpp-username" class="form-control" />
         </div>
      </div>
      <div class="form-group">
         <label class="col-sm-6 control-label" for="xmpp-domain" >{{t "Domain"}}</label>
         <div class="col-sm-6">
            <input type="text" id="xmpp-domain" class="form-control" />
         </div>
      </div>
      <div class="form-group">
         <label class="col-sm-6 control-label" for="xmpp-resource" >{{t "Resource"}}</label>
         <div class="col-sm-6">
            <input class="form-control" type="text" id="xmpp-resource" class="form-control" />
         </div>
      </div>
      <div class="form-group">
         <div class="col-sm-offset-6 col-sm-6">
            <button class="jsxc-btn jsxc-btn-primary jsxc-continue" type="submit" >{{t "Save"}}</button>
         </div>
      </div>
   </fieldset>
</form>
{{/if}}

<form class="form-horizontal col-sm-12">
   <fieldset class="jsxc-fieldsetPriority jsxc-fieldset">
      <h3 >{{t "Priority"}}</h3>
      <p >{{t "setting-explanation-priority"}}</p>
      <div class="form-group">
         <label class="col-sm-6 control-label" for="priority-online" >{{t "Online"}}</label>
         <div class="col-sm-6">
            <input type="number" value="0" id="priority-online" class="form-control" min="-128" max="127" step="1" required="required" />
         </div>
      </div>
      <div class="form-group">
         <label class="col-sm-6 control-label" for="priority-chat" >{{t "Chatty"}}</label>
         <div class="col-sm-6">
            <input type="number" value="0" id="priority-chat" class="form-control" min="-128" max="127" step="1" required="required" />
         </div>
      </div>
      <div class="form-group">
         <label class="col-sm-6 control-label" for="priority-away" >{{t "Away"}}</label>
         <div class="col-sm-6">
            <input type="number" value="0" id="priority-away" class="form-control" min="-128" max="127" step="1" required="required" />
         </div>
      </div>
      <div class="form-group">
         <label class="col-sm-6 control-label" for="priority-xa" >{{t "Extended_away"}}</label>
         <div class="col-sm-6">
            <input type="number" value="0" id="priority-xa" class="form-control" min="-128" max="127" step="1" required="required" />
         </div>
      </div>
      <div class="form-group">
         <label class="col-sm-6 control-label" for="priority-dnd" >{{t "dnd"}}</label>
         <div class="col-sm-6">
            <input type="number" value="0" id="priority-dnd" class="form-control" min="-128" max="127" step="1" required="required" />
         </div>
      </div>
      <div class="form-group">
         <div class="col-sm-offset-6 col-sm-6">
            <button class="jsxc-btn jsxc-btn-primary jsxc-continue" type="submit" >{{t "Save"}}</button>
         </div>
      </div>
   </fieldset>
</form>

<form class="form-horizontal col-sm-12">
   <fieldset class="jsxc-fieldsetLoginForm jsxc-fieldset">
      <h3 >{{t "On_login"}}</h3>
      <p >{{t "setting-explanation-login"}}</p>
      <div class="form-group">
         <div class="col-sm-12">
            <div class="checkbox">
               <label>
                  <input type="checkbox" id="loginForm-enable"><span >{{t "On_login"}}</span>
               </label>
            </div>
         </div>
      </div>
      <div class="form-group">
         <div class="col-sm-12">
            <button class="jsxc-btn jsxc-btn-primary jsxc-continue" type="submit" >{{t "Save"}}</button>
         </div>
      </div>
   </fieldset>
</form>

<form class="form-horizontal col-sm-12" data-onsubmit="xmpp.carbons.refresh">
   <fieldset class="jsxc-fieldsetCarbons jsxc-fieldset">
      <h3 >{{t "Carbon_copy"}}</h3>
      <p >{{t "setting-explanation-carbon"}}</p>
      <div class="form-group">
         <div class="col-sm-12">
            <div class="checkbox">
               <label>
                  <input type="checkbox" id="carbons-enable"><span >{{t "Enable"}}</span>
               </label>
            </div>
         </div>
      </div>
      <div class="form-group">
         <div class="col-sm-12">
            <button class="jsxc-btn jsxc-btn-primary jsxc-continue" type="submit" >{{t "Save"}}</button>
         </div>
      </div>
   </fieldset>
</form>

<form class="form-horizontal col-sm-12" data-onsubmit="xmpp.chatState.init">
   <fieldset class="jsxc-fieldsetCarbons jsxc-fieldset">
      <h3 >{{t "Chat_state_notifications"}}</h3>
      <p >{{t "setting-explanation-chat-state"}}</p>
      <div class="form-group">
         <div class="col-sm-12">
            <div class="checkbox">
               <label>
                  <input type="checkbox" id="chatState-enable"><span >{{t "Enable"}}</span>
               </label>
            </div>
         </div>
      </div>
      <div class="form-group">
         <div class="col-sm-12">
            <button class="jsxc-btn jsxc-btn-primary jsxc-continue" type="submit" >{{t "Save"}}</button>
         </div>
      </div>
   </fieldset>
</form>
